html {
  font-family: "Lato", sans-serif;
  margin: 0;
}

body {
  margin: 0;
}

@font-face {
  font-family: "icoins";
  src: url("../fonts/iCoins.ttf?73ow0y") format("truetype"), url("../fonts/iCoins.woff?73ow0y") format("woff"), url("../fonts/iCoins.svg?73ow0y#icoins") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icn {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icoins" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-Add-Package:before {
  content: "\e900";
}

.icn-Add-Package-Filled:before {
  content: "\e9bb";
}

.icn-Add-Worker:before {
  content: "\e901";
}

.icn-Add-Worker-Filled:before {
  content: "\e9bc";
}

.icn-Airplane:before {
  content: "\e902";
}

.icn-Airplane-Filled:before {
  content: "\e9bd";
}

.icn-Approve:before {
  content: "\e903";
}

.icn-Approve-Filled:before {
  content: "\e9be";
}

.icn-Archive:before {
  content: "\ea20";
}

.icn-Archive-Filled:before {
  content: "\ea21";
}

.icn-Arrow-Down:before {
  content: "\e904";
}

.icn-Arrow-Down-Filled:before {
  content: "\e9bf";
}

.icn-Arrow-Left:before {
  content: "\e905";
}

.icn-Arrow-Left-Filled:before {
  content: "\e9c0";
}

.icn-Arrow-Right:before {
  content: "\e906";
}

.icn-Arrow-Right-Filled:before {
  content: "\e9c1";
}

.icn-Arrow-Up:before {
  content: "\e907";
}

.icn-Arrow-Up-Filled:before {
  content: "\e9c2";
}

.icn-Attachment:before {
  content: "\e908";
}

.icn-Attachment-Filled:before {
  content: "\e9c3";
}

.icn-Award:before {
  content: "\e909";
}

.icn-Award-Filled:before {
  content: "\e9c4";
}

.icn-Ball:before {
  content: "\e90a";
}

.icn-Ball-Filled:before {
  content: "\e9c5";
}

.icn-Basket:before {
  content: "\e90b";
}

.icn-Basket-Filled:before {
  content: "\e9c6";
}

.icn-Bed:before {
  content: "\e90c";
}

.icn-Bed-Filled:before {
  content: "\e9c7";
}

.icn-Bell:before {
  content: "\e90d";
}

.icn-Bell-Filled:before {
  content: "\e9c8";
}

.icn-Blank:before {
  content: "\e90e";
}

.icn-Blank-Filled:before {
  content: "\e9c9";
}

.icn-Blocks:before {
  content: "\e90f";
}

.icn-Blocks-Filled:before {
  content: "\e9ca";
}

.icn-Book:before {
  content: "\e910";
}

.icn-Book-Filled:before {
  content: "\e9cb";
}

.icn-Briefcase:before {
  content: "\e911";
}

.icn-Briefcase-Filled:before {
  content: "\e9cc";
}

.icn-Building:before {
  content: "\e912";
}

.icn-Building-Filled:before {
  content: "\e9cd";
}

.icn-Calendar:before {
  content: "\e913";
}

.icn-Calendar-Filled:before {
  content: "\e9cf";
}

.icn-Calendar-Day:before {
  content: "\e914";
}

.icn-Calendar-Day-Filled:before {
  content: "\e9ce";
}

.icn-Calendar-Month:before {
  content: "\e915";
}

.icn-Calendar-Month-Filled:before {
  content: "\e9d0";
}

.icn-Calendar-Week:before {
  content: "\e916";
}

.icn-Calendar-Week-Filled:before {
  content: "\e9d1";
}

.icn-Calendar-Workdays:before {
  content: "\e917";
}

.icn-Calendar-Workdays-Filled:before {
  content: "\e9d2";
}

.icn-Car:before {
  content: "\e918";
}

.icn-Car-Filled:before {
  content: "\e9d6";
}

.icn-Cards:before {
  content: "\e919";
}

.icn-Cards-Filled:before {
  content: "\e9d3";
}

.icn-Caret-Down:before {
  content: "\e91a";
}

.icn-Caret-Down-Filled:before {
  content: "\e9d4";
}

.icn-Caret-Up:before {
  content: "\e91b";
}

.icn-Caret-Up-Filled:before {
  content: "\e9d5";
}

.icn-Certificate:before {
  content: "\ea22";
}

.icn-Certificate-Filled:before {
  content: "\ea23";
}

.icn-Chart:before {
  content: "\e91c";
}

.icn-Chart-Filled:before {
  content: "\e9d8";
}

.icn-Chart-Alt:before {
  content: "\e91d";
}

.icn-Chart-Alt-Filled:before {
  content: "\e9d7";
}

.icn-Check:before {
  content: "\e91e";
}

.icn-Check-Filled:before {
  content: "\e9da";
}

.icn-Check-Double:before {
  content: "\e91f";
}

.icn-Check-Double-Filled:before {
  content: "\e9d9";
}

.icn-Checklist:before {
  content: "\e920";
}

.icn-Checklist-Filled:before {
  content: "\e9dd";
}

.icn-Checklist-Cogs:before {
  content: "\e921";
}

.icn-Checklist-Cogs-Filled:before {
  content: "\e9db";
}

.icn-Checklist-Fail:before {
  content: "\e922";
}

.icn-Checklist-Fail-Filled:before {
  content: "\e9dc";
}

.icn-Checklist-Start:before {
  content: "\e923";
}

.icn-Checklist-Start-Filled:before {
  content: "\e9de";
}

.icn-Checklist-Time:before {
  content: "\e924";
}

.icn-Checklist-Time-Filled:before {
  content: "\e9df";
}

.icn-Chevron-Down:before {
  content: "\e925";
}

.icn-Chevron-Down-Filled:before {
  content: "\e9e0";
}

.icn-Chevron-Left:before {
  content: "\e926";
}

.icn-Chevron-Left-Filled:before {
  content: "\e9e1";
}

.icn-Chevron-Right:before {
  content: "\e927";
}

.icn-Chevron-Right-Filled:before {
  content: "\e9e2";
}

.icn-Chevron-Up:before {
  content: "\e928";
}

.icn-Chevron-Up-Filled:before {
  content: "\e9e3";
}

.icn-Clock-In:before {
  content: "\e929";
}

.icn-Clock-In-Filled:before {
  content: "\e9e4";
}

.icn-Clock-Out:before {
  content: "\e92a";
}

.icn-Clock-Out-Filled:before {
  content: "\e9e5";
}

.icn-Close:before {
  content: "\e92b";
}

.icn-Close-Filled:before {
  content: "\e9e6";
}

.icn-Cloud:before {
  content: "\e92c";
}

.icn-Cloud-Filled:before {
  content: "\e9e7";
}

.icn-Coins:before {
  content: "\e92d";
}

.icn-Coins-Filled:before {
  content: "\e9e8";
}

.icn-Comments:before {
  content: "\e92e";
}

.icn-Comments-Filled:before {
  content: "\e9e9";
}

.icn-Compare:before {
  content: "\e92f";
}

.icn-Compare-Filled:before {
  content: "\e9ea";
}

.icn-Compass:before {
  content: "\ea24";
}

.icn-Compass-Filled:before {
  content: "\ea25";
}

.icn-Complete:before {
  content: "\e930";
}

.icn-Complete-Filled:before {
  content: "\e9eb";
}

.icn-Contract:before {
  content: "\e931";
}

.icn-Contract-Filled:before {
  content: "\e9ec";
}

.icn-Crane:before {
  content: "\e932";
}

.icn-Crane-Filled:before {
  content: "\e9ed";
}

.icn-Credit-Card:before {
  content: "\e933";
}

.icn-Credit-Card-Filled:before {
  content: "\e9ee";
}

.icn-Dashboard:before {
  content: "\e934";
}

.icn-Dashboard-Filled:before {
  content: "\e9ef";
}

.icn-Database:before {
  content: "\e935";
}

.icn-Database-Filled:before {
  content: "\e9f0";
}

.icn-Delete:before {
  content: "\e936";
}

.icn-Delete-Filled:before {
  content: "\e9f1";
}

.icn-Delivery:before {
  content: "\e937";
}

.icn-Delivery-Filled:before {
  content: "\e9f2";
}

.icn-Divide:before {
  content: "\e938";
}

.icn-Divide-Filled:before {
  content: "\e9f3";
}

.icn-Document:before {
  content: "\e939";
}

.icn-Document-Filled:before {
  content: "\e9f4";
}

.icn-Double-Arrows-Down:before {
  content: "\e93a";
}

.icn-Double-Arrows-Down-Filled:before {
  content: "\e9f5";
}

.icn-Download:before {
  content: "\e93b";
}

.icn-Download-Filled:before {
  content: "\e9f6";
}

.icn-Drag-Indicator:before {
  content: "\e93c";
}

.icn-Drag-Indicator-Filled:before {
  content: "\e9f7";
}

.icn-Drawings:before {
  content: "\e93d";
}

.icn-Drawings-Filled:before {
  content: "\e9f8";
}

.icn-Edit:before {
  content: "\e93e";
}

.icn-Edit-Filled:before {
  content: "\e9f9";
}

.icn-Email:before {
  content: "\e93f";
}

.icn-Email-Filled:before {
  content: "\e9fa";
}

.icn-Employee-List:before {
  content: "\e940";
}

.icn-Employee-List-Filled:before {
  content: "\e9fb";
}

.icn-Energy:before {
  content: "\e941";
}

.icn-Energy-Filled:before {
  content: "\e9fc";
}

.icn-Equal:before {
  content: "\e942";
}

.icn-Equal-Filled:before {
  content: "\e9fd";
}

.icn-Excel:before {
  content: "\e943";
}

.icn-Excel-Filled:before {
  content: "\e9fe";
}

.icn-Expand:before {
  content: "\e944";
}

.icn-Expand-Filled:before {
  content: "\e9ff";
}

.icn-External-Link:before {
  content: "\e945";
}

.icn-External-Link-Filled:before {
  content: "\ea00";
}

.icn-Eye:before {
  content: "\e946";
}

.icn-Eye-Filled:before {
  content: "\ea01";
}

.icn-Favourites:before {
  content: "\e947";
}

.icn-Favourite-Filled:before {
  content: "\ea02";
}

.icn-Filter:before {
  content: "\e948";
}

.icn-Filter-Filled:before {
  content: "\ea03";
}

.icn-Filter-Sliders:before {
  content: "\e949";
}

.icn-Filter-Sliders-Filled:before {
  content: "\ea04";
}

.icn-Flag:before {
  content: "\e94a";
}

.icn-Flag-Filled:before {
  content: "\ea05";
}

.icn-Floppy:before {
  content: "\e94b";
}

.icn-Floppy-Filled:before {
  content: "\ea06";
}

.icn-Folder:before {
  content: "\e94c";
}

.icn-Folder-Filled:before {
  content: "\ea07";
}

.icn-Folder-Open:before {
  content: "\e94d";
}

.icn-Folder-Open-Filled:before {
  content: "\ea08";
}

.icn-Food:before {
  content: "\e94e";
}

.icn-Food-Filled:before {
  content: "\ea09";
}

.icn-For-Sale:before {
  content: "\e94f";
}

.icn-For-Sale-Filled:before {
  content: "\ea0a";
}

.icn-Fuel:before {
  content: "\e950";
}

.icn-Fuel-Filled:before {
  content: "\ea0b";
}

.icn-Grave:before {
  content: "\e951";
}

.icn-Grave-Filled:before {
  content: "\ea0c";
}

.icn-Grid:before {
  content: "\e952";
}

.icn-Grid-Filled:before {
  content: "\ea0d";
}

.icn-Health:before {
  content: "\e953";
}

.icn-Health-Filled:before {
  content: "\ea0e";
}

.icn-Helmet:before {
  content: "\e954";
}

.icn-Helmet-Filled:before {
  content: "\ea0f";
}

.icn-History:before {
  content: "\e955";
}

.icn-History-Filled:before {
  content: "\ea10";
}

.icn-Home:before {
  content: "\e956";
}

.icn-Home-Filled:before {
  content: "\ea11";
}

.icn-Image:before {
  content: "\e957";
}

.icn-Image-Filled:before {
  content: "\ea12";
}

.icn-Important:before {
  content: "\e958";
}

.icn-Important-Filled:before {
  content: "\ea14";
}

.icn-Important-Alt:before {
  content: "\e959";
}

.icn-Important-Alt-Filled:before {
  content: "\ea13";
}

.icn-Important-Triangle:before {
  content: "\e95a";
}

.icn-Important-Triangle-Filled:before {
  content: "\ea15";
}

.icn-Info:before {
  content: "\e95b";
}

.icn-Information-Filled:before {
  content: "\ea17";
}

.icn-Info-Alt:before {
  content: "\e95c";
}

.icn-Info-Filled:before {
  content: "\ea16";
}

.icn-Linked:before {
  content: "\e95d";
}

.icn-Linked-Filled:before {
  content: "\ea18";
}

.icn-List:before {
  content: "\e95e";
}

.icn-List-Filled:before {
  content: "\ea19";
}

.icn-Lock:before {
  content: "\e95f";
}

.icn-Lock-Filled:before {
  content: "\ea1a";
}

.icn-Log-Out:before {
  content: "\e960";
}

.icn-Log-Out-Filled:before {
  content: "\ea1b";
}

.icn-Map-Pin:before {
  content: "\e961";
}

.icn-Map-Pin-Filled:before {
  content: "\ea1c";
}

.icn-Meal:before {
  content: "\e962";
}

.icn-Meal-Filled:before {
  content: "\ea1d";
}

.icn-Menu-Burger:before {
  content: "\e963";
}

.icn-Menu-Burger-Filled:before {
  content: "\ea1e";
}

.icn-Meter:before {
  content: "\e964";
}

.icn-Meter-Filled:before {
  content: "\ea1f";
}

.icn-Mic:before {
  content: "\e965";
}

.icn-Mic-Filled:before {
  content: "\ea2a";
}

.icn-Minimise:before {
  content: "\e966";
}

.icn-Minimise-Filled:before {
  content: "\ea2b";
}

.icn-Minus:before {
  content: "\ea26";
}

.icn-Minus-Filled:before {
  content: "\ea27";
}

.icn-Monitor:before {
  content: "\e967";
}

.icn-Monitor-Filled:before {
  content: "\ea2c";
}

.icn-More-Horizontal:before {
  content: "\e968";
}

.icn-More-Horizontal-Filled:before {
  content: "\ea2d";
}

.icn-More-Vertical:before {
  content: "\e969";
}

.icn-More-Vertical-Filled:before {
  content: "\ea2e";
}

.icn-Multiply:before {
  content: "\e96a";
}

.icn-Multiply-Filled:before {
  content: "\ea2f";
}

.icn-Network:before {
  content: "\e96b";
}

.icn-Network-Filled:before {
  content: "\ea30";
  color: #4a4a4a;
}

.icn-No-Connection:before {
  content: "\e96c";
}

.icn-No-Connection-Filled:before {
  content: "\ea32";
}

.icn-No-Connection-Alt:before {
  content: "\e96d";
}

.icn-No-Connection-Alt-Filled:before {
  content: "\ea31";
}

.icn-Notes:before {
  content: "\e96e";
}

.icn-Notes-Filled:before {
  content: "\ea33";
}

.icn-Online-Document:before {
  content: "\e96f";
}

.icn-Online-Document-Filled:before {
  content: "\ea34";
}

.icn-Online-Spreadsheet:before {
  content: "\e970";
}

.icn-Online-Spreadsheet-Filled:before {
  content: "\ea35";
}

.icn-Open:before {
  content: "\e971";
}

.icn-Open-Filled:before {
  content: "\ea36";
}

.icn-PDF:before {
  content: "\e978";
}

.icn-PDF-Filled:before {
  content: "\ea3d";
}

.icn-PDF-Alt:before {
  content: "\e979";
}

.icn-PDF-Alt-Filled:before {
  content: "\ea3c";
}

.icn-Package:before {
  content: "\e972";
}

.icn-Package-Filled:before {
  content: "\ea3a";
}

.icn-Package-Alt:before {
  content: "\e973";
}

.icn-Package-Alt-Filled:before {
  content: "\ea37";
}

.icn-Package-Confirmed:before {
  content: "\e974";
}

.icn-Package-Confirmed-Filled:before {
  content: "\ea38";
}

.icn-Parking:before {
  content: "\e977";
}

.icn-Parking-Filled:before {
  content: "\ea3b";
}

.icn-People:before {
  content: "\e97a";
}

.icn-People-Filled:before {
  content: "\ea3e";
}

.icn-Percent:before {
  content: "\e97b";
}

.icn-Percent-Filled:before {
  content: "\ea3f";
}

.icn-Phone:before {
  content: "\e97d";
}

.icn-Phone-Filled:before {
  content: "\ea40";
}

.icn-Phone-Mobile:before {
  content: "\e97e";
}

.icn-Phone-Mobile-Filled:before {
  content: "\ea41";
}

.icn-Phone-Old:before {
  content: "\e97c";
}

.icn-Phone-Old-Filled:before {
  content: "\ea42";
}

.icn-Photo-Camera:before {
  content: "\e97f";
}

.icn-Photo-Camera-Filled:before {
  content: "\ea44";
}

.icn-Photo-Camera-Crossed:before {
  content: "\e980";
}

.icn-Photo-Camera-Crossed-Filled:before {
  content: "\ea43";
}

.icn-Photo-Switch:before {
  content: "\e981";
}

.icn-Photo-Switch-Filled:before {
  content: "\ea45";
}

.icn-Pinned:before {
  content: "\e982";
}

.icn-Pinned-Filled:before {
  content: "\ea46";
}

.icn-Pivot:before {
  content: "\e983";
}

.icn-Pivot-Filled:before {
  content: "\ea47";
}

.icn-Play:before {
  content: "\e984";
}

.icn-Play-Filled:before {
  content: "\ea48";
}

.icn-Plus:before {
  content: "\e985";
}

.icn-Plus-Filled:before {
  content: "\ea4a";
}

.icn-Plus-Circle:before {
  content: "\e986";
  color: #4a4a4a;
}

.icn-Plus-Circle-Filled:before {
  content: "\ea49";
}

.icn-Print:before {
  content: "\e987";
}

.icn-Print-Filled:before {
  content: "\ea4b";
}

.icn-Priority:before {
  content: "\e988";
}

.icn-Priority-Filled:before {
  content: "\ea4c";
}

.icn-Process:before {
  content: "\e989";
}

.icn-Process-Filled:before {
  content: "\ea4d";
}

.icn-QR-code:before {
  content: "\e98a";
}

.icn-QR-Code-Filled:before {
  content: "\ea4e";
}

.icn-Quantity:before {
  content: "\e98b";
}

.icn-Quantity-Filled:before {
  content: "\ea4f";
}

.icn-Question-Mark:before {
  content: "\e98c";
}

.icn-Question-Mark-Filled:before {
  content: "\ea50";
}

.icn-Refresh:before {
  content: "\e98d";
}

.icn-Refresh-Filled:before {
  content: "\ea51";
}

.icn-Reject:before {
  content: "\e98e";
  color: #4a4a4a;
}

.icn-Reject-Filled:before {
  content: "\ea52";
}

.icn-Restore:before {
  content: "\e98f";
}

.icn-Restore-Filled:before {
  content: "\ea53";
}

.icn-Search:before {
  content: "\e990";
}

.icn-Search-Filled:before {
  content: "\ea55";
}

.icn-Search-Check:before {
  content: "\e991";
}

.icn-Search-Check-Filled:before {
  content: "\ea54";
}

.icn-Search-Important:before {
  content: "\e992";
}

.icn-Search-Important-Filled:before {
  content: "\ea56";
}

.icn-Sell-House:before {
  content: "\e993";
}

.icn-Sell-House-Filled:before {
  content: "\ea57";
}

.icn-Sell-House-Pounds:before {
  content: "\e994";
}

.icn-Sell-House-Pounds-Filled:before {
  content: "\ea58";
}

.icn-Send:before {
  content: "\e995";
}

.icn-Send-Filled:before {
  content: "\ea59";
}

.icn-Server-Issue:before {
  content: "\e996";
}

.icn-Server-Issue-Filled:before {
  content: "\ea5a";
}

.icn-Settings:before {
  content: "\e997";
}

.icn-Settings-Filled:before {
  content: "\ea5b";
}

.icn-Shapes:before {
  content: "\e998";
}

.icn-Shapes-Filled:before {
  content: "\ea5c";
}

.icn-Share:before {
  content: "\e999";
}

.icn-Share-Filled:before {
  content: "\ea5d";
}

.icn-Shop:before {
  content: "\e99a";
}

.icn-Shop-Filled:before {
  content: "\ea5e";
}

.icn-Shopping-Cart:before {
  content: "\e99b";
}

.icn-Shopping-Cart-Filled:before {
  content: "\ea5f";
}

.icn-Shower:before {
  content: "\e99c";
}

.icn-Shower-Filled:before {
  content: "\ea60";
}

.icn-Sidebar:before {
  content: "\e99d";
}

.icn-Sidebar-Filled:before {
  content: "\ea61";
}

.icn-Site:before {
  content: "\e99e";
}

.icn-Site-Filled:before {
  content: "\ea63";
}

.icn-Site-Alt:before {
  content: "\e99f";
}

.icn-Site-Alt-Filled:before {
  content: "\ea62";
}

.icn-Sort-Both:before {
  content: "\e9a0";
}

.icn-Sort-Both-Filled:before {
  content: "\ea64";
}

.icn-Sorting:before {
  content: "\e9a1";
}

.icn-Sorting-Filled:before {
  content: "\ea65";
}

.icn-Spinner:before {
  content: "\e9a2";
}

.icn-Spinner-Filled:before {
  content: "\ea66";
}

.icn-Spreadsheet:before {
  content: "\e9a3";
}

.icn-Spreadsheet-Filled:before {
  content: "\ea67";
}

.icn-Square:before {
  content: "\e9a4";
}

.icn-Square-Filled:before {
  content: "\ea68";
}

.icn-Star:before {
  content: "\ea28";
}

.icn-Star-Filled:before {
  content: "\ea29";
}

.icn-Status:before {
  content: "\e9a5";
}

.icn-Status-Filled:before {
  content: "\ea69";
}

.icn-Stop:before {
  content: "\ea7f";
}

.icn-Stop-Filled:before {
  content: "\ea80";
}

.icn-Stopwatch:before {
  content: "\e9a6";
}

.icn-Stopwatch-Filled:before {
  content: "\ea6a";
}

.icn-Sunrise:before {
  content: "\e9a7";
}

.icn-Sunrise-Filled:before {
  content: "\ea6b";
}

.icn-Sunset:before {
  content: "\e9a8";
}

.icn-Sunset-Filled:before {
  content: "\ea6c";
}

.icn-Switch:before {
  content: "\e9a9";
}

.icn-Switch-Filled:before {
  content: "\ea6d";
}

.icn-Tablet:before {
  content: "\e9aa";
}

.icn-Tablet-Filled:before {
  content: "\ea6e";
}

.icn-Tasks:before {
  content: "\e9ab";
}

.icn-Tasks-Filled:before {
  content: "\ea6f";
}

.icn-Template:before {
  content: "\e9ac";
}

.icn-Template-Filled:before {
  content: "\ea70";
}

.icn-Text-Input:before {
  content: "\e9ad";
}

.icn-Text-Input-Filled:before {
  content: "\ea71";
}

.icn-Timer:before {
  content: "\e9ae";
}

.icn-Timer-Filled:before {
  content: "\ea72";
}

.icn-Trades:before {
  content: "\e9af";
}

.icn-Trades-Filled:before {
  content: "\ea73";
}

.icn-Travel-Home:before {
  content: "\e9b0";
}

.icn-Travel-Home-Filled:before {
  content: "\ea74";
}

.icn-Travel-Work:before {
  content: "\e9b1";
}

.icn-Travel-Work-Filled:before {
  content: "\ea75";
}

.icn-Triangle:before {
  content: "\e9b2";
}

.icn-Triangle-Filled:before {
  content: "\ea76";
}

.icn-Undo:before {
  content: "\e9b3";
}

.icn-Undo-Filled:before {
  content: "\ea78";
}

.icn-Undo-Circle:before {
  content: "\e9b4";
}

.icn-Undo-Circle-Filled:before {
  content: "\ea77";
}

.icn-Unlinked:before {
  content: "\ea81";
}

.icn-Unlinked-Filled:before {
  content: "\ea82";
}

.icn-Unlock:before {
  content: "\e9b5";
}

.icn-Unlock-Filled:before {
  content: "\ea79";
}

.icn-Wallet:before {
  content: "\e9b6";
}

.icn-Wallet-Filled:before {
  content: "\ea7a";
}

.icn-Word:before {
  content: "\e9b7";
}

.icn-Word-Filled:before {
  content: "\ea7b";
}

.icn-Work:before {
  content: "\e9b8";
}

.icn-Work-Filled:before {
  content: "\ea7d";
}

.icn-Worker:before {
  content: "\e9b9";
}

.icn-Worker-Filled:before {
  content: "\ea7c";
}

.icn-Wrench:before {
  content: "\e9ba";
}

.icn-Wrench-Filled:before {
  content: "\ea7e";
}

.text-small {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.text-medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

h5, .h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.text-dark-gray {
  color: rgba(74, 74, 74, 0.8);
}

.text-light {
  color: #767676;
}

.text-bold {
  font-weight: bold !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.cds-userpic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  overflow: hidden;
  width: 24px;
  height: 24px;
}

.cds-circle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 25px;
  background: linear-gradient(135deg, #F18078 0%, #E16057 100%);
  -webkit-box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.51), inset -1px -1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.51), inset -1px -1px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 28px;
  line-height: 28px;
}
.cds-circle-icon--sm {
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 18px;
}

.cds-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  color: #2A2A2A;
}
.cds-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
}
.cds-table td > * {
  vertical-align: middle;
}
.cds-table td .cds-userpic {
  margin-right: 4px;
}
.cds-table thead {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.cds-table thead td {
  height: 24px;
}
.cds-table tbody td {
  height: 40px;
}
.cds-table tbody tr {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-table tbody tr:hover {
  background: rgba(66, 73, 88, 0.1);
}

.cds-table-wrapper {
  margin-bottom: 28px;
  width: 100%;
}

.cds-input {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-input > .icn {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cds-input:focus-within {
  border: 1px solid #E09B00;
}

.cds-form-control {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 28px 6px 12px;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-form-control ::-webkit-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::-moz-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control :-ms-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::-ms-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control:hover {
  border: 1px solid #4A4A4A;
}
.cds-form-control:focus {
  border: 1px solid #E09B00;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.cds-btn {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-btn--icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #4A4A4A;
}
.cds-btn--icon img {
  width: 100%;
  max-height: 100%;
}
.cds-btn--icon:hover {
  background: rgba(191, 199, 207, 0.15);
}

.cds-link {
  color: #2A2A2A;
  text-decoration: underline;
}

.cds-dropdown-btn {
  padding: 12px 10px;
  width: 100%;
  color: #2A2A2A;
  background: #fff;
}
.cds-dropdown-btn__icon {
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 4px;
  background: #E9926D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cds-dropdown-btn__icon .icn {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}
.cds-dropdown-btn__data {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.cds-dropdown-btn__type {
  font-size: 10px;
  line-height: 14px;
  color: #767676;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: left;
}
.cds-dropdown-btn__value {
  font-size: 14px;
  line-height: 16px;
  color: #2A2A2A;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.cds-dropdown-btn__chevron {
  justify-self: end;
  margin-left: auto;
  font-size: 24px;
  color: #4A4A4A;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cds-dropdown-btn:hover, .cds-dropdown-btn.is-active {
  background: rgba(66, 73, 88, 0.1);
}

.cds-cards-dashboard {
  padding: 16px 12px;
}

.cds-cards-row > * {
  margin-bottom: 16px;
}

.cds-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  text-decoration: none;
  background: #fff;
}
.cds-card * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cds-card--sm {
  min-height: 62px;
}
.cds-card--md {
  min-height: 140px;
}
.cds-card--lg {
  min-height: 296px;
}
.cds-card__minwidth.col-12 {
  min-width: 1824px;
}
.cds-card__minwidth.col-11 {
  min-width: 1672px;
}
.cds-card__minwidth.col-10 {
  min-width: 1520px;
}
.cds-card__minwidth.col-9 {
  min-width: 1368px;
}
.cds-card__minwidth.col-8 {
  min-width: 1216px;
}
.cds-card__minwidth.col-7 {
  min-width: 1064px;
}
.cds-card__minwidth.col-6 {
  min-width: 912px;
}
.cds-card__minwidth.col-5 {
  min-width: 760px;
}
.cds-card__minwidth.col-4 {
  min-width: 608px;
}
.cds-card__minwidth.col-3 {
  min-width: 456px;
}
.cds-card__minwidth.col-2 {
  min-width: 304px;
}
.cds-card__minwidth.col-1 {
  min-width: 152px;
}
.cds-card__header {
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 44px;
  width: 100%;
}
.cds-card__actions > *:not(:last-child) {
  margin-right: 12px;
}
.cds-card__title {
  font-size: 14px;
  line-height: 20px;
  color: #4A4A4A;
  font-weight: normal;
}
.cds-card__body {
  padding: 0 16px 12px 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #4A4A4A;
}
.cds-card__body > .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.cds-card__body .row + .row {
  margin-top: 16px;
}
.cds-card__info {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 8px 4px;
  margin-right: 16px;
}
.cds-card__info:last-child {
  margin-right: 0;
}
.cds-card__info:hover {
  background-color: rgba(191, 199, 207, 0.15);
  border-color: rgba(0, 0, 0, 0.1);
}
.cds-card__subtitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(74, 74, 74, 0.8);
}
.cds-card__value {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #4A4A4A;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cds-card__value--inactive {
  opacity: 0.5;
}
.cds-card__value--large {
  font-size: 32px;
}
.cds-card__plus {
  position: absolute;
  z-index: 2;
  right: 24px;
  bottom: 16px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
}
.cds-card__plus:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cds-card__bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}
.cds-card-add {
  position: relative;
}
.cds-card--single {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
.cds-card--single:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
}
.cds-card--single .cds-card__body {
  padding: 0 16px 12px 16px;
}
.cds-card--single .cds-card__info {
  background: transparent;
  border: none;
}
.cds-card--single:hover {
  background-color: rgba(191, 199, 207, 0.15);
}
.cds-card--top .cds-card__body {
  height: 100%;
}

.cds-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 62px;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #fff;
  color: #4A4A4A;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-tile:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
}
.cds-tile:hover {
  background-color: rgba(191, 199, 207, 0.15);
}
.cds-tile__icon {
  margin-right: 8px;
}
.cds-tile__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-right: 8px;
}
.cds-tile__value {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  justify-self: flex-end;
  margin-left: auto;
}

.cds-card-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.cds-card-tiles__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 8px 12px;
  background: #FBFBFB;
  border-radius: 4px;
  min-height: 32px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4A4A4A;
  margin-bottom: 4px;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-card-tiles__item > .icn {
  font-size: 14px;
  color: #4A4A4A;
  opacity: 0.5;
  margin-right: 6px;
}
.cds-card-tiles__item:last-child {
  margin-bottom: 0;
}
.cds-card-tiles__item:after {
  content: "\e921";
  font-family: "iCoins";
  justify-self: flex-end;
  margin-left: auto;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-card-tiles__item:hover {
  background: rgba(66, 73, 88, 0.1);
}
.cds-card-tiles__item:hover:after {
  opacity: 1;
}

.cds-tabs {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
}
.cds-tabs__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 28px;
  padding: 0 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #767676;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-tabs__btn.is-active {
  background: rgba(0, 0, 0, 0.1);
  color: #2A2A2A;
}

.cds-tabcontent {
  padding: 16px 20px;
  position: relative;
}
.cds-tabcontent__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: 1;
}
.cds-tabcontent__bg ~ * {
  position: relative;
  z-index: 2;
}

.cds-accordion__head {
  background-color: #FBFBFB;
  color: #4A4A4A;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-accordion__head:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cds-accordion__head > .icn {
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-accordion__head.is-active {
  border-color: transparent;
  background: transparent;
}
.cds-accordion__head.is-active > .icn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.cds-accordion__body {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-accordion__body.is-active {
  padding-bottom: 20px;
}

.cds-dropdown {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102525);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102525);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cds-dropdown__head {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cds-dropdown__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
}
.cds-dropdown__actions {
  font-size: 16px;
}
.cds-dropdown__actions .cds-btn {
  font-size: 16px;
}
.cds-dropdown__actions .cds-btn:last-child {
  margin-right: 0;
}
.cds-dropdown__row {
  min-width: 150px;
  padding-right: 16px;
}
.cds-dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 16px;
  min-height: 36px;
  min-width: 170px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}
.cds-dropdown__item:hover {
  background: rgba(0, 0, 0, 0.1);
}
.cds-dropdown__item > .icn {
  font-size: 16px;
  line-height: 1;
  color: #767676;
  margin-right: 8px;
}
.cds-dropdown__item--nohover:hover {
  background: #fff;
}
.cds-dropdown--role .cds-dropdown__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}
.cds-dropdown--role .cds-dropdown__search {
  margin-bottom: 12px;
}
.cds-dropdown--role .cds-dropdown__search .cds-input {
  width: 200px;
}
.cds-dropdown--role .cds-dropdown__search .cds-form-control {
  width: 100%;
}
.cds-dropdown--role .cds-dropdown__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 0;
  padding: 0;
}
.cds-dropdown--role .cds-dropdown__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  color: #2A2A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}
.cds-dropdown--role .cds-dropdown__item:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.cds-dropdown--role .cds-role-icon {
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 4px;
  background: #E9926D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
.cds-dropdown--role .cds-role-icon .icn {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}
.cds-dropdown--role .cds-role-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.cds-dropdown--role .cds-dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0 -8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% + 16px);
}
.cds-dropdown--role .cds-dropdown__list > li {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 16px 4px 8px;
  min-width: 200px;
}

.cds-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cds-timeline__step {
  background: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 36px;
  padding: 8px 4px 8px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.cds-timeline__step:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 12px;
}
.cds-timeline__step:last-child:after {
  display: none;
}
.cds-timeline__step:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 12px;
}
.cds-timeline__step:after {
  content: "";
  position: absolute;
  top: 6px;
  right: -11px;
  width: 22px;
  height: 21px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(45deg) skew(10deg, 10deg);
          transform: rotate(45deg) skew(10deg, 10deg);
  border-radius: 2px 4px 2px 0px;
  z-index: 1;
  background: #FFFFFF;
}
.cds-timeline__step--done .cds-timeline__icon {
  color: #40B915;
}
.cds-timeline__step--progress {
  background: #4A4A4A;
}
.cds-timeline__step--progress .cds-timeline__name {
  color: #FFFFFF;
}
.cds-timeline__step--progress .cds-timeline__icon {
  color: #FDB31A;
}
.cds-timeline__step--progress:after {
  background: #4A4A4A;
}
.cds-timeline__step--uncomplete {
  background: #EDEDEF;
}
.cds-timeline__step--uncomplete .cds-timeline__icon {
  color: #767676;
}
.cds-timeline__step--uncomplete:after {
  background: #EDEDEF;
}
.cds-timeline__icon {
  margin-right: 4px;
}
.cds-timeline__name {
  color: #2A2A2A;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  z-index: 2;
}

.cds-west-pane {
  background: #fff;
}

.cds-west-search {
  padding: 8px;
}
.cds-west-search .cds-input,
.cds-west-search .cds-form-control {
  width: 100%;
}

.cds-search-results__counter {
  font-size: 12px;
  line-height: 16px;
  color: #767676;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 12px;
}
.cds-search-results__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 12px 24px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #2A2A2A;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.cds-search-results__icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 4px;
  background: #E9926D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
}
.cds-search-results__icon .icn {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}
.cds-search-results__data {
  width: 100%;
}
.cds-search-results__name {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}
.cds-search-results .text-uppercase {
  margin-bottom: 4px;
}
.cds-search-results__link {
  font-size: 12px;
  line-height: 16px;
  color: #2A2A2A;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: calc(100% + 52px);
  margin-left: -40px;
  padding: 4px 8px 4px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
}
.cds-search-results__link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.c3 {
  max-width: 100%;
}

.c3 .tick text {
  fill: rgba(74, 74, 74, 0.7);
}

.c3 .c3-grid line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-dasharray: 0;
}

.c3 .c3-line {
  stroke-width: 2px;
}

.c3 .c3-chart-lines circle {
  fill: #ffffff;
  stroke-width: 2px !important;
  stroke: currentColor !important;
}

.c3-legend-item text {
  fill: rgba(74, 74, 74, 0.7);
}

.c3-legend-item-tile {
  shape-rendering: auto;
  stroke-linecap: round;
  stroke-dasharray: 0.1 10;
  stroke-width: 10;
  -webkit-transform: translate(6px, 1px);
          transform: translate(6px, 1px);
}

.c3-tooltip-container {
  border-radius: 4px;
  overflow: hidden;
}
.c3-tooltip-container .c3-tooltip th {
  background: #FBFBFB;
  color: inherit;
}
.c3-tooltip-container .c3-tooltip td {
  border-left: none;
}
.c3-tooltip-container .c3-tooltip td > span {
  border-radius: 5px;
}

.c3-axis .tick line,
.c3-axis path.domain {
  display: none;
}