.c3 {
  max-width: 100%;
}

.c3 .tick text {
  fill: rgba(74, 74, 74, 0.7);
}

.c3 .c3-grid line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-dasharray: 0;
}

.c3 .c3-line {
  stroke-width: 2px;
}

.c3 .c3-chart-lines circle {
  fill: #ffffff;
  stroke-width: 2px !important;
  stroke: currentColor !important;
}

.c3-legend-item text {
  fill: rgba(74, 74, 74, 0.7);
}

.c3-legend-item-tile {
  shape-rendering: auto;
  stroke-linecap: round;
  stroke-dasharray: 0.1 10;
  stroke-width: 10;
  transform: translate(6px, 1px);
}

.c3-tooltip-container {
  border-radius: 4px;
  overflow: hidden;
}

.c3-tooltip-container .c3-tooltip th {
  background: #FBFBFB;
  color: inherit;
}

.c3-tooltip-container .c3-tooltip td {
  border-left: none;
}

.c3-tooltip-container .c3-tooltip td > span {
  border-radius: 5px;
}

.c3-axis .tick line,
.c3-axis path.domain {
  display: none;
}
