.cds-dropdown {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102525);
  border-radius: 4px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.cds-dropdown__head {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: -ms-flexbox;
  display: flex;
}

.cds-dropdown__footer {
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
}

.cds-dropdown__actions {
  font-size: 16px;
}

.cds-dropdown__actions .cds-btn {
  font-size: 16px;
}

.cds-dropdown__actions .cds-btn:last-child {
  margin-right: 0;
}

.cds-dropdown__row {
  min-width: 150px;
  padding-right: 16px;
}

.cds-dropdown__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 12px;
  line-height: 16px;
  min-height: 36px;
  min-width: 170px;
  padding: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}

.cds-dropdown__item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cds-dropdown__item > .icn {
  font-size: 16px;
  line-height: 1;
  color: #767676;
  margin-right: 8px;
}

.cds-dropdown__item--nohover:hover {
  background: #fff;
}

.cds-dropdown--role .cds-dropdown__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 12px;
}

.cds-dropdown--role .cds-dropdown__search {
  margin-bottom: 12px;
}

.cds-dropdown--role .cds-dropdown__search .cds-input {
  width: 200px;
}

.cds-dropdown--role .cds-dropdown__search .cds-form-control {
  width: 100%;
}

.cds-dropdown--role .cds-dropdown__row {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  min-width: 0;
  padding: 0;
}

.cds-dropdown--role .cds-dropdown__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: none;
  -ms-flex: 1;
      flex: 1;
  text-decoration: none;
  color: #2A2A2A;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding: 20px;
}

.cds-dropdown--role .cds-dropdown__item:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.cds-dropdown--role .cds-role-icon {
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 4px;
  background: #E9926D;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 12px;
}

.cds-dropdown--role .cds-role-icon .icn {
  font-size: 14px;
  line-height: 1;
  color: #fff;
}

.cds-dropdown--role .cds-role-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.cds-dropdown--role .cds-dropdown__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0;
  margin: 0 -8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% + 16px);
}

.cds-dropdown--role .cds-dropdown__list > li {
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 16px 4px 8px;
  min-width: 200px;
}
