.cds-input {
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-input > .icn {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cds-input:focus-within {
  border: 1px solid #E09B00;
}

.cds-form-control {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 28px 6px 12px;
  font-size: 12px;
  line-height: 16px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.cds-form-control ::-webkit-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::-moz-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control :-ms-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::-ms-input-placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control ::placeholder {
  color: #2A2A2A;
  opacity: 0.5;
}
.cds-form-control:hover {
  border: 1px solid #4A4A4A;
}
.cds-form-control:focus {
  border: 1px solid #E09B00;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}