.text-small {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.text-medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

h5, .h5 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.text-dark-gray {
  color: rgba(74, 74, 74, 0.8);
}

.text-light {
  color: #767676;
}

.text-bold {
  font-weight: bold !important;
}

.text-uppercase {
  text-transform: uppercase;
}