$icoins-font-family: "iCoins" !default;
$icoins-font-path: "../fonts" !default;



$icn-Plus-Filled: "\e99f";
$icn-Check-Filled: "\e99e";
$icn-Check-Double-Filled: "\e99d";
$icn-Comments-Filled: "\e9a8";
$icn-Info-Filled: "\e9fc";
$icn-Activity-Filled: "\e991";
$icn-Attachment-Filled: "\e992";
$icn-Basket-Filled: "\e993";
$icn-Blank-Filled: "\e994";
$icn-Blocks-Filled: "\e995";
$icn-Briefcase-Filled: "\e996";
$icn-Building-Filled: "\e997";
$icn-Calendar-Alt-Filled: "\e998";
$icn-Calendar-Filled: "\e999";
$icn-Car-Filled: "\e99a";
$icn-Cards-Filled: "\e99b";
$icn-Chart-Filled: "\e99c";
$icn-Checklist-Filled: "\e9a2";
$icn-Clock-In-Filled: "\e9a3";
$icn-Clock-Out-Filled: "\e9a4";
$icn-Close-Filled: "\e9a5";
$icn-Cloud-Filled: "\e9a6";
$icn-Coins-Filled: "\e9a7";
$icn-Compare-Filled: "\e9a9";
$icn-Contract-Filled: "\e9aa";
$icn-Crane-Filled: "\e9ab";
$icn-Credit-Card-Filled: "\e9ac";
$icn-Dashboard-Filled: "\e9ad";
$icn-Delete-Filled: "\e9ae";
$icn-Delivery-Filled: "\e9af";
$icn-Download-Filled: "\e9b0";
$icn-Drawings-Filled: "\e9b1";
$icn-Edit-Filled: "\e9b2";
$icn-Email-Filled: "\e9b3";
$icn-Energy-Filled: "\e9b4";
$icn-Excel-Filled: "\e9b5";
$icn-Eye-Filled: "\e9b6";
$icn-Filter-Filled: "\e9b7";
$icn-Filter-Sliders-Filled: "\e9b8";
$icn-Flag-Filled: "\e9b9";
$icn-Floppy-Filled: "\e9ba";
$icn-Folder-Filled: "\e9bb";
$icn-Folder-Open-Filled: "\e9bc";
$icn-Grave-Filled: "\e9bd";
$icn-Grid-Filled: "\e9be";
$icn-Health-Filled: "\e9bf";
$icn-Helmet-Filled: "\e9c0";
$icn-History-Filled: "\e9c1";
$icn-Home-Filled: "\e9c2";
$icn-Image-Filled: "\e9c3";
$icn-Important-Alt-Filled: "\e9c4";
$icn-Important-Alt-Triangle-Filled: "\e9c5";
$icn-Important-Filled: "\e9c6";
$icn-Information-Filled: "\e9c8";
$icn-Laptop-Filled: "\e9c9";
$icn-List-Filled: "\e9ca";
$icn-Loader-Filled: "\e9cb";
$icn-Lock-Filled: "\e9cc";
$icn-LogOut-Filled: "\e9cd";
$icn-Meal-Filled: "\e9ce";
$icn-Mic-Filled: "\e9cf";
$icn-Mobile-Filled: "\e9d0";
$icn-No-Connection-Alt-Filled: "\e9d1";
$icn-No-Connection-Filled: "\e9d2";
$icn-Notes-Filled: "\e9d3";
$icn-Package-Alt-Filled: "\e9d4";
$icn-Package-Filled: "\e9d5";
$icn-PDF-Filled: "\e9d6";
$icn-Phone-Filled: "\e9d7";
$icn-Phone-Old-Filled: "\e9d8";
$icn-Photo-Filled: "\e9d9";
$icn-Pin-Filled: "\e9da";
$icn-Pinned-Filled: "\e9db";
$icn-Play-Filled: "\e9dc";
$icn-Priority-Filled: "\e9df";
$icn-QR-Code-Filled: "\e9e0";
$icn-Quantity-Filled: "\e9e1";
$icn-Question-Mark-Filled: "\e9e2";
$icn-Refresh-Filled: "\e9e3";
$icn-Search-Filled: "\e9e4";
$icn-Send-Filled: "\e9e5";
$icn-Server-Issue-Filled: "\e9e6";
$icn-Settings-Filled: "\e9e7";
$icn-Shapes-Filled: "\e9e8";
$icn-Shop-Filled: "\e9e9";
$icn-Shopping-Cart-Filled: "\e9ea";
$icn-Shower-Filled: "\e9eb";
$icn-Square-Filled: "\e9ec";
$icn-Stopwatch-Filled: "\e9ed";
$icn-Tablet-Filled: "\e9ee";
$icn-Tasks-Filled: "\e9ef";
$icn-Template-Filled: "\e9f0";
$icn-Time-Filled: "\e9f1";
$icn-Travel-Home-Filled: "\e9f2";
$icn-Travel-Work-Filled: "\e9f3";
$icn-Triangle-Filled: "\e9f4";
$icn-Unlock-Filled: "\e9f5";
$icn-Wallet-Filled: "\e9f6";
$icn-Work-Filled: "\e9f7";
$icn-Worker-Add-Filled: "\e9f8";
$icn-Worker-Filled: "\e9f9";
$icn-Package-Add: "\e900";
$icn-Worker-Add: "\e901";
$icn-Airplane: "\e902";
$icn-Approve: "\e903";
$icn-Arrow-Down: "\e904";
$icn-Arrow-Left: "\e905";
$icn-Arrow-Right: "\e906";
$icn-Arrow-Up: "\e907";
$icn-Attachment: "\e908";
$icn-Basket: "\e909";
$icn-Bed: "\e90a";
$icn-Bell: "\e90b";
$icn-Blank: "\e90c";
$icn-Blocks: "\e90d";
$icn-Calendar: "\e90e";
$icn-Calendar-Day: "\e90f";
$icn-Calendar-Month: "\e910";
$icn-Calendar-Week: "\e911";
$icn-Calendar-Workdays: "\e912";
$icn-Car: "\e913";
$icn-Car-Alt: "\e914";
$icn-Cards: "\e915";
$icn-Caret-Down: "\e916";
$icn-Caret-Up: "\e917";
$icn-Check: "\e918";
$icn-Checklist: "\e919";
$icn-Checklist-Cogs: "\e91a";
$icn-Checklist-Fail: "\e91b";
$icn-Checklist-Start: "\e91c";
$icn-Checklist-Time: "\e91d";
$icn-Checklist-Time-Alt: "\e91e";
$icn-Chevron-Down: "\e91f";
$icn-Chevron-Left: "\e920";
$icn-Chevron-Right: "\e921";
$icn-Chevron-Up: "\e922";
$icn-Clock-In: "\e923";
$icn-Clock-Out: "\e924";
$icn-Close: "\e925";
$icn-Cogs: "\e926";
$icn-Coins: "\e927";
$icn-Comments: "\e928";
$icn-Company: "\e929";
$icn-Compare: "\e92a";
$icn-Complete: "\e92b";
$icn-Contract: "\e92c";
$icn-Corner-Arrow: "\e92d";
$icn-Crane: "\e92e";
$icn-Credit-Card: "\e92f";
$icn-Dashboard: "\e930";
$icn-Delete: "\e931";
$icn-Delivery: "\e932";
$icn-Divide: "\e933";
$icn-Double-Arrows-Down: "\e934";
$icn-Download: "\e935";
$icn-Drag-Indicator: "\e936";
$icn-Drawings: "\e937";
$icn-Edit: "\e938";
$icn-Email: "\e939";
$icn-Employee-List: "\e93a";
$icn-Equal: "\e93b";
$icn-Excel: "\e93c";
$icn-Expand: "\e93d";
$icn-External-Link: "\e93e";
$icn-Eye: "\e93f";
$icn-Favourites: "\e940";
$icn-Filter: "\e941";
$icn-Filter-Sliders: "\e942";
$icn-Floppy: "\e943";
$icn-Folder: "\e944";
$icn-Folder-Open: "\e945";
$icn-Food: "\e946";
$icn-Fuel: "\e947";
$icn-Grid: "\e948";
$icn-Helmet: "\e949";
$icn-History: "\e94a";
$icn-Home: "\e94b";
$icn-Image: "\e94c";
$icn-Important: "\e94d";
$icn-Important-Alt: "\e94e";
$icn-Laptop: "\e94f";
$icn-Linked: "\e950";
$icn-List: "\e951";
$icn-Lock: "\e952";
$icn-Log-Out: "\e953";
$icn-Map-Pin: "\e954";
$icn-Meal: "\e955";
$icn-Menu-Burger: "\e956";
$icn-Mic: "\e957";
$icn-More-Horizontal: "\e958";
$icn-More-Vertical: "\e959";
$icn-Multiply: "\e95a";
$icn-No-Connection: "\e95b";
$icn-Notes: "\e95c";
$icn-Open: "\e95d";
$icn-PDF: "\e95e";
$icn-Package: "\e95f";
$icn-Package-Confirmed-path1: "\e960";
$icn-Package-Confirmed-path2: "\e961";
$icn-Package-Confirmed-path3: "\e962";
$icn-Parking: "\e963";
$icn-Phone: "\e964";
$icn-Phone-Mobile: "\e965";
$icn-Phone-Old: "\e966";
$icn-Photo-Camera: "\e967";
$icn-Photo-Camera-Crossed: "\e968";
$icn-Photo-Switch: "\e969";
$icn-Pinned: "\e96a";
$icn-Plus: "\e96b";
$icn-Quantity: "\e96c";
$icn-Refresh: "\e96d";
$icn-Reject: "\e96e";
$icn-Search: "\e96f";
$icn-Search-Check: "\e970";
$icn-Search-Important: "\e971";
$icn-Sell-House: "\e972";
$icn-Sell-House-Pounds: "\e973";
$icn-Send: "\e974";
$icn-Server-Issue: "\e975";
$icn-Settings: "\e976";
$icn-Shapes: "\e977";
$icn-Share: "\e978";
$icn-Shop: "\e979";
$icn-Shopping-Cart: "\e97a";
$icn-Shower: "\e97b";
$icn-Site: "\e97c";
$icn-Site-Alt: "\e97d";
$icn-Sort-Both: "\e97e";
$icn-Sort-Down: "\e97f";
$icn-Sort-Up: "\e980";
$icn-Spinner: "\e981";
$icn-Stopwatch: "\e982";
$icn-Sunrise: "\e983";
$icn-Sunset: "\e984";
$icn-Tablet: "\e985";
$icn-Tasks: "\e986";
$icn-Template: "\e987";
$icn-Text: "\e988";
$icn-Timer: "\e989";
$icn-Trades: "\e98a";
$icn-Travel-Home: "\e98b";
$icn-Travel-Work: "\e98c";
$icn-Undo: "\e98d";
$icn-Unlock: "\e98e";
$icn-Wallet: "\e98f";
$icn-Worker: "\e990";
