.cds-dropdown {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.102525);
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;

    &__head {
        padding: 12px 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
    }

    &__footer {
        display: flex;
        padding: 12px 16px;
    }

    &__actions {
        font-size: 16px;
        .cds-btn {
            font-size: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__row {
        min-width: 150px;
        padding-right: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        min-height: 36px;
        min-width: 170px;
        padding: 12px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
        & > .icn {
            font-size: 16px;
            line-height: 1;
            color: #767676;
            margin-right: 8px;
        }

        &--nohover {
            &:hover {
                background: #fff;
            }
        }
    }
}