.cds-userpic {
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
}

.cds-circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    border-radius: 25px;
    background: linear-gradient(135deg, #F18078 0%, #E16057 100%);
    box-shadow: inset 1px 1px 4px rgba(255, 255, 255, 0.51), inset -1px -1px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 28px;
    line-height: 28px;

    &--sm {
        width: 32px;
        height: 32px;
        font-size: 18px;
        line-height: 18px;
    }
}