@import "icoins-variables";

@font-face {
  font-family: '#{$icoins-font-family}';
  src:  url('#{$icoins-font-path}/#{$icoins-font-family}.eot?qbfi3d');
  src:  url('#{$icoins-font-path}/#{$icoins-font-family}.eot?qbfi3d#iefix') format('embedded-opentype'), url('#{$icoins-font-path}/#{$icoins-font-family}.ttf?qbfi3d') format('truetype'), url('#{$icoins-font-path}/#{$icoins-font-family}.svg?qbfi3d##{$icoins-font-family}') format('svg'), url('#{$icoins-font-path}/#{$icoins-font-family}.woff?qbfi3d') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icn {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icoins-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-Favourite-Filled {
  &:before {
    content: $icn-Favourite-Filled;     
    color: #4a4a4a;
  }
}
.icn-Plus-Filled {
  &:before {
    content: $icn-Plus-Filled;     
    color: #4a4a4a;
  }
}
.icn-Check-Filled {
  &:before {
    content: $icn-Check-Filled;     
    color: #4a4a4a;
  }
}
.icn-Check-Double-Filled {
  &:before {
    content: $icn-Check-Double-Filled;     
    color: #4a4a4a;
  }
}
.icn-Comments-Filled {
  &:before {
    content: $icn-Comments-Filled;     
    color: #4a4a4a;
  }
}
.icn-Info-Filled {
  &:before {
    content: $icn-Info-Filled;     
    color: #4a4a4a;
  }
}
.icn-Activity-Filled {
  &:before {
    content: $icn-Activity-Filled;     
    color: #4a4a4a;
  }
}
.icn-Attachment-Filled {
  &:before {
    content: $icn-Attachment-Filled;     
    color: #4a4a4a;
  }
}
.icn-Basket-Filled {
  &:before {
    content: $icn-Basket-Filled;     
    color: #4a4a4a;
  }
}
.icn-Blank-Filled {
  &:before {
    content: $icn-Blank-Filled;     
    color: #4a4a4a;
  }
}
.icn-Blocks-Filled {
  &:before {
    content: $icn-Blocks-Filled;     
    color: #4a4a4a;
  }
}
.icn-Briefcase-Filled {
  &:before {
    content: $icn-Briefcase-Filled;     
    color: #4a4a4a;
  }
}
.icn-Building-Filled {
  &:before {
    content: $icn-Building-Filled;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Alt-Filled {
  &:before {
    content: $icn-Calendar-Alt-Filled;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Filled {
  &:before {
    content: $icn-Calendar-Filled;     
    color: #4a4a4a;
  }
}
.icn-Car-Filled {
  &:before {
    content: $icn-Car-Filled;     
    color: #4a4a4a;
  }
}
.icn-Cards-Filled {
  &:before {
    content: $icn-Cards-Filled;     
    color: #4a4a4a;
  }
}
.icn-Chart-Filled {
  &:before {
    content: $icn-Chart-Filled;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Filled {
  &:before {
    content: $icn-Checklist-Filled;     
    color: #4a4a4a;
  }
}
.icn-Clock-In-Filled {
  &:before {
    content: $icn-Clock-In-Filled;     
    color: #4a4a4a;
  }
}
.icn-Clock-Out-Filled {
  &:before {
    content: $icn-Clock-Out-Filled;     
    color: #4a4a4a;
  }
}
.icn-Close-Filled {
  &:before {
    content: $icn-Close-Filled;     
    color: #4a4a4a;
  }
}
.icn-Cloud-Filled {
  &:before {
    content: $icn-Cloud-Filled;     
    color: #4a4a4a;
  }
}
.icn-Coins-Filled {
  &:before {
    content: $icn-Coins-Filled;     
    color: #4a4a4a;
  }
}
.icn-Compare-Filled {
  &:before {
    content: $icn-Compare-Filled;     
    color: #4a4a4a;
  }
}
.icn-Contract-Filled {
  &:before {
    content: $icn-Contract-Filled;     
    color: #4a4a4a;
  }
}
.icn-Crane-Filled {
  &:before {
    content: $icn-Crane-Filled;     
    color: #4a4a4a;
  }
}
.icn-Credit-Card-Filled {
  &:before {
    content: $icn-Credit-Card-Filled;     
    color: #4a4a4a;
  }
}
.icn-Dashboard-Filled {
  &:before {
    content: $icn-Dashboard-Filled;     
    color: #4a4a4a;
  }
}
.icn-Delete-Filled {
  &:before {
    content: $icn-Delete-Filled;     
    color: #4a4a4a;
  }
}
.icn-Delivery-Filled {
  &:before {
    content: $icn-Delivery-Filled;     
    color: #4a4a4a;
  }
}
.icn-Download-Filled {
  &:before {
    content: $icn-Download-Filled;     
    color: #4a4a4a;
  }
}
.icn-Drawings-Filled {
  &:before {
    content: $icn-Drawings-Filled;     
    color: #4a4a4a;
  }
}
.icn-Edit-Filled {
  &:before {
    content: $icn-Edit-Filled;     
    color: #4a4a4a;
  }
}
.icn-Email-Filled {
  &:before {
    content: $icn-Email-Filled;     
    color: #4a4a4a;
  }
}
.icn-Energy-Filled {
  &:before {
    content: $icn-Energy-Filled;     
    color: #4a4a4a;
  }
}
.icn-Excel-Filled {
  &:before {
    content: $icn-Excel-Filled;     
    color: #4a4a4a;
  }
}
.icn-Eye-Filled {
  &:before {
    content: $icn-Eye-Filled;     
    color: #4a4a4a;
  }
}
.icn-Filter-Filled {
  &:before {
    content: $icn-Filter-Filled;     
    color: #4a4a4a;
  }
}
.icn-Filter-Sliders-Filled {
  &:before {
    content: $icn-Filter-Sliders-Filled;     
    color: #4a4a4a;
  }
}
.icn-Flag-Filled {
  &:before {
    content: $icn-Flag-Filled;     
    color: #4a4a4a;
  }
}
.icn-Floppy-Filled {
  &:before {
    content: $icn-Floppy-Filled;     
    color: #4a4a4a;
  }
}
.icn-Folder-Filled {
  &:before {
    content: $icn-Folder-Filled;     
    color: #4a4a4a;
  }
}
.icn-Folder-Open-Filled {
  &:before {
    content: $icn-Folder-Open-Filled;     
    color: #4a4a4a;
  }
}
.icn-Grave-Filled {
  &:before {
    content: $icn-Grave-Filled;     
    color: #4a4a4a;
  }
}
.icn-Grid-Filled {
  &:before {
    content: $icn-Grid-Filled;     
    color: #4a4a4a;
  }
}
.icn-Health-Filled {
  &:before {
    content: $icn-Health-Filled;     
    color: #4a4a4a;
  }
}
.icn-Helmet-Filled {
  &:before {
    content: $icn-Helmet-Filled;     
    color: #4a4a4a;
  }
}
.icn-History-Filled {
  &:before {
    content: $icn-History-Filled;     
    color: #4a4a4a;
  }
}
.icn-Home-Filled {
  &:before {
    content: $icn-Home-Filled;     
    color: #4a4a4a;
  }
}
.icn-Image-Filled {
  &:before {
    content: $icn-Image-Filled;     
    color: #4a4a4a;
  }
}
.icn-Important-Alt-Filled {
  &:before {
    content: $icn-Important-Alt-Filled;     
    color: #4a4a4a;
  }
}
.icn-Important-Alt-Triangle-Filled {
  &:before {
    content: $icn-Important-Alt-Triangle-Filled;     
    color: #4a4a4a;
  }
}
.icn-Important-Filled {
  &:before {
    content: $icn-Important-Filled;     
    color: #4a4a4a;
  }
}
.icn-Information-Filled {
  &:before {
    content: $icn-Information-Filled;     
    color: #4a4a4a;
  }
}
.icn-Laptop-Filled {
  &:before {
    content: $icn-Laptop-Filled;     
    color: #4a4a4a;
  }
}
.icn-List-Filled {
  &:before {
    content: $icn-List-Filled;     
    color: #4a4a4a;
  }
}
.icn-Loader-Filled {
  &:before {
    content: $icn-Loader-Filled; 
  }
}
.icn-Lock-Filled {
  &:before {
    content: $icn-Lock-Filled;     
    color: #4a4a4a;
  }
}
.icn-LogOut-Filled {
  &:before {
    content: $icn-LogOut-Filled;     
    color: #4a4a4a;
  }
}
.icn-Meal-Filled {
  &:before {
    content: $icn-Meal-Filled;     
    color: #4a4a4a;
  }
}
.icn-Mic-Filled {
  &:before {
    content: $icn-Mic-Filled;     
    color: #4a4a4a;
  }
}
.icn-Mobile-Filled {
  &:before {
    content: $icn-Mobile-Filled;     
    color: #4a4a4a;
  }
}
.icn-No-Connection-Alt-Filled {
  &:before {
    content: $icn-No-Connection-Alt-Filled;     
    color: #4a4a4a;
  }
}
.icn-No-Connection-Filled {
  &:before {
    content: $icn-No-Connection-Filled;     
    color: #4a4a4a;
  }
}
.icn-Notes-Filled {
  &:before {
    content: $icn-Notes-Filled;     
    color: #4a4a4a;
  }
}
.icn-Package-Alt-Filled {
  &:before {
    content: $icn-Package-Alt-Filled;     
    color: #4a4a4a;
  }
}
.icn-Package-Filled {
  &:before {
    content: $icn-Package-Filled;     
    color: #4a4a4a;
  }
}
.icn-PDF-Filled {
  &:before {
    content: $icn-PDF-Filled;     
    color: #4a4a4a;
  }
}
.icn-Phone-Filled {
  &:before {
    content: $icn-Phone-Filled;     
    color: #4a4a4a;
  }
}
.icn-Phone-Old-Filled {
  &:before {
    content: $icn-Phone-Old-Filled;     
    color: #4a4a4a;
  }
}
.icn-Photo-Filled {
  &:before {
    content: $icn-Photo-Filled;     
    color: #4a4a4a;
  }
}
.icn-Pin-Filled {
  &:before {
    content: $icn-Pin-Filled;     
    color: #4a4a4a;
  }
}
.icn-Pinned-Filled {
  &:before {
    content: $icn-Pinned-Filled;     
    color: #4a4a4a;
  }
}
.icn-Play-Filled {
  &:before {
    content: $icn-Play-Filled;     
    color: #4a4a4a;
  }
}
.icn-Priority-Filled {
  &:before {
    content: $icn-Priority-Filled;     
    color: #4a4a4a;
  }
}
.icn-QR-Code-Filled {
  &:before {
    content: $icn-QR-Code-Filled;     
    color: #4a4a4a;
  }
}
.icn-Quantity-Filled {
  &:before {
    content: $icn-Quantity-Filled;     
    color: #4a4a4a;
  }
}
.icn-Question-Mark-Filled {
  &:before {
    content: $icn-Question-Mark-Filled;     
    color: #4a4a4a;
  }
}
.icn-Refresh-Filled {
  &:before {
    content: $icn-Refresh-Filled;     
    color: #4a4a4a;
  }
}
.icn-Search-Filled {
  &:before {
    content: $icn-Search-Filled;     
    color: #4a4a4a;
  }
}
.icn-Send-Filled {
  &:before {
    content: $icn-Send-Filled;     
    color: #4a4a4a;
  }
}
.icn-Server-Issue-Filled {
  &:before {
    content: $icn-Server-Issue-Filled;     
    color: #4a4a4a;
  }
}
.icn-Settings-Filled {
  &:before {
    content: $icn-Settings-Filled;     
    color: #4a4a4a;
  }
}
.icn-Shapes-Filled {
  &:before {
    content: $icn-Shapes-Filled;     
    color: #4a4a4a;
  }
}
.icn-Shop-Filled {
  &:before {
    content: $icn-Shop-Filled;     
    color: #4a4a4a;
  }
}
.icn-Shopping-Cart-Filled {
  &:before {
    content: $icn-Shopping-Cart-Filled;     
    color: #4a4a4a;
  }
}
.icn-Shower-Filled {
  &:before {
    content: $icn-Shower-Filled;     
    color: #4a4a4a;
  }
}
.icn-Square-Filled {
  &:before {
    content: $icn-Square-Filled;     
    color: #4a4a4a;
  }
}
.icn-Stopwatch-Filled {
  &:before {
    content: $icn-Stopwatch-Filled;     
    color: #4a4a4a;
  }
}
.icn-Tablet-Filled {
  &:before {
    content: $icn-Tablet-Filled;     
    color: #4a4a4a;
  }
}
.icn-Tasks-Filled {
  &:before {
    content: $icn-Tasks-Filled;     
    color: #4a4a4a;
  }
}
.icn-Template-Filled {
  &:before {
    content: $icn-Template-Filled;     
    color: #4a4a4a;
  }
}
.icn-Time-Filled {
  &:before {
    content: $icn-Time-Filled;     
    color: #4a4a4a;
  }
}
.icn-Travel-Home-Filled {
  &:before {
    content: $icn-Travel-Home-Filled;     
    color: #4a4a4a;
  }
}
.icn-Travel-Work-Filled {
  &:before {
    content: $icn-Travel-Work-Filled;     
    color: #4a4a4a;
  }
}
.icn-Triangle-Filled {
  &:before {
    content: $icn-Triangle-Filled;     
    color: #4a4a4a;
  }
}
.icn-Unlock-Filled {
  &:before {
    content: $icn-Unlock-Filled;     
    color: #4a4a4a;
  }
}
.icn-Wallet-Filled {
  &:before {
    content: $icn-Wallet-Filled;     
    color: #4a4a4a;
  }
}
.icn-Work-Filled {
  &:before {
    content: $icn-Work-Filled;     
    color: #4a4a4a;
  }
}
.icn-Worker-Add-Filled {
  &:before {
    content: $icn-Worker-Add-Filled;     
    color: #4a4a4a;
  }
}
.icn-Worker-Filled {
  &:before {
    content: $icn-Worker-Filled;     
    color: #4a4a4a;
  }
}
.icn-Add-Package {
  &:before {
    content: $icn-Add-Package;     
    color: #4a4a4a;
  }
}
.icn-Add-Worker {
  &:before {
    content: $icn-Add-Worker;     
    color: #4a4a4a;
  }
}
.icn-Airplane {
  &:before {
    content: $icn-Airplane;     
    color: #4a4a4a;
  }
}
.icn-Approve {
  &:before {
    content: $icn-Approve;     
    color: #4a4a4a;
  }
}
.icn-Arrow-Down {
  &:before {
    content: $icn-Arrow-Down;     
    color: #4a4a4a;
  }
}
.icn-Arrow-Left {
  &:before {
    content: $icn-Arrow-Left;     
    color: #4a4a4a;
  }
}
.icn-Arrow-Right {
  &:before {
    content: $icn-Arrow-Right;     
    color: #4a4a4a;
  }
}
.icn-Arrow-Up {
  &:before {
    content: $icn-Arrow-Up;     
    color: #4a4a4a;
  }
}
.icn-Attachment {
  &:before {
    content: $icn-Attachment;     
    color: #4a4a4a;
  }
}
.icn-Basket {
  &:before {
    content: $icn-Basket;     
    color: #4a4a4a;
  }
}
.icn-Bed {
  &:before {
    content: $icn-Bed;     
    color: #4a4a4a;
  }
}
.icn-Bell {
  &:before {
    content: $icn-Bell;     
    color: #4a4a4a;
  }
}
.icn-Blank {
  &:before {
    content: $icn-Blank;     
    color: #4a4a4a;
  }
}
.icn-Blocks {
  &:before {
    content: $icn-Blocks;     
    color: #4a4a4a;
  }
}
.icn-Calendar {
  &:before {
    content: $icn-Calendar;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Day {
  &:before {
    content: $icn-Calendar-Day;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Month {
  &:before {
    content: $icn-Calendar-Month;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Week {
  &:before {
    content: $icn-Calendar-Week;     
    color: #4a4a4a;
  }
}
.icn-Calendar-Workdays {
  &:before {
    content: $icn-Calendar-Workdays;     
    color: #4a4a4a;
  }
}
.icn-Car {
  &:before {
    content: $icn-Car;     
    color: #4a4a4a;
  }
}
.icn-Car-Alt {
  &:before {
    content: $icn-Car-Alt;     
    color: #4a4a4a;
  }
}
.icn-Cards {
  &:before {
    content: $icn-Cards;     
    color: #4a4a4a;
  }
}
.icn-Caret-Down {
  &:before {
    content: $icn-Caret-Down;     
    color: #4a4a4a;
  }
}
.icn-Caret-Up {
  &:before {
    content: $icn-Caret-Up;     
    color: #4a4a4a;
  }
}
.icn-Check {
  &:before {
    content: $icn-Check;     
    color: #4a4a4a;
  }
}
.icn-Checklist {
  &:before {
    content: $icn-Checklist;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Cogs {
  &:before {
    content: $icn-Checklist-Cogs;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Fail {
  &:before {
    content: $icn-Checklist-Fail;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Start {
  &:before {
    content: $icn-Checklist-Start;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Time {
  &:before {
    content: $icn-Checklist-Time;     
    color: #4a4a4a;
  }
}
.icn-Checklist-Time-Alt {
  &:before {
    content: $icn-Checklist-Time-Alt;     
    color: #4a4a4a;
  }
}
.icn-Chevron-Down {
  &:before {
    content: $icn-Chevron-Down;     
    color: #4a4a4a;
  }
}
.icn-Chevron-Left {
  &:before {
    content: $icn-Chevron-Left;     
    color: #4a4a4a;
  }
}
.icn-Chevron-Right {
  &:before {
    content: $icn-Chevron-Right;     
    color: #4a4a4a;
  }
}
.icn-Chevron-Up {
  &:before {
    content: $icn-Chevron-Up;     
    color: #4a4a4a;
  }
}
.icn-Clock-In {
  &:before {
    content: $icn-Clock-In;     
    color: #4a4a4a;
  }
}
.icn-Clock-Out {
  &:before {
    content: $icn-Clock-Out;     
    color: #4a4a4a;
  }
}
.icn-Close {
  &:before {
    content: $icn-Close;     
    color: #4a4a4a;
  }
}
.icn-Cogs {
  &:before {
    content: $icn-Cogs;     
    color: #4a4a4a;
  }
}
.icn-Coins {
  &:before {
    content: $icn-Coins;     
    color: #4a4a4a;
  }
}
.icn-Comments {
  &:before {
    content: $icn-Comments;     
    color: #4a4a4a;
  }
}
.icn-Company {
  &:before {
    content: $icn-Company;     
    color: #4a4a4a;
  }
}
.icn-Compare {
  &:before {
    content: $icn-Compare;     
    color: #4a4a4a;
  }
}
.icn-Complete {
  &:before {
    content: $icn-Complete;     
    color: #4a4a4a;
  }
}
.icn-Contract {
  &:before {
    content: $icn-Contract;     
    color: #4a4a4a;
  }
}
.icn-Corner-Arrow {
  &:before {
    content: $icn-Corner-Arrow;     
    color: #4a4a4a;
  }
}
.icn-Crane {
  &:before {
    content: $icn-Crane;     
    color: #4a4a4a;
  }
}
.icn-Credit-Card {
  &:before {
    content: $icn-Credit-Card;     
    color: #4a4a4a;
  }
}
.icn-Dashboard {
  &:before {
    content: $icn-Dashboard;     
    color: #4a4a4a;
  }
}
.icn-Delete {
  &:before {
    content: $icn-Delete;     
    color: #4a4a4a;
  }
}
.icn-Delivery {
  &:before {
    content: $icn-Delivery;     
    color: #4a4a4a;
  }
}
.icn-Divide {
  &:before {
    content: $icn-Divide;     
    color: #4a4a4a;
  }
}
.icn-Double-Arrows-Down {
  &:before {
    content: $icn-Double-Arrows-Down;     
    color: #4a4a4a;
  }
}
.icn-Download {
  &:before {
    content: $icn-Download;     
    color: #4a4a4a;
  }
}
.icn-Drag-Indicator {
  &:before {
    content: $icn-Drag-Indicator;     
    color: #4a4a4a;
  }
}
.icn-Drawings {
  &:before {
    content: $icn-Drawings;     
    color: #4a4a4a;
  }
}
.icn-Edit {
  &:before {
    content: $icn-Edit;     
    color: #4a4a4a;
  }
}
.icn-Email {
  &:before {
    content: $icn-Email;     
    color: #4a4a4a;
  }
}
.icn-Employee-List {
  &:before {
    content: $icn-Employee-List;     
    color: #4a4a4a;
  }
}
.icn-Equal {
  &:before {
    content: $icn-Equal;     
    color: #4a4a4a;
  }
}
.icn-Excel {
  &:before {
    content: $icn-Excel;     
    color: #4a4a4a;
  }
}
.icn-Expand {
  &:before {
    content: $icn-Expand;     
    color: #4a4a4a;
  }
}
.icn-External-Link {
  &:before {
    content: $icn-External-Link;     
    color: #4a4a4a;
  }
}
.icn-Eye {
  &:before {
    content: $icn-Eye;     
    color: #4a4a4a;
  }
}
.icn-Favourites {
  &:before {
    content: $icn-Favourites;     
    color: #4a4a4a;
  }
}
.icn-Filter {
  &:before {
    content: $icn-Filter;     
    color: #4a4a4a;
  }
}
.icn-Filter-Sliders {
  &:before {
    content: $icn-Filter-Sliders;     
    color: #4a4a4a;
  }
}
.icn-Floppy {
  &:before {
    content: $icn-Floppy;     
    color: #4a4a4a;
  }
}
.icn-Folder {
  &:before {
    content: $icn-Folder;     
    color: #4a4a4a;
  }
}
.icn-Folder-Open {
  &:before {
    content: $icn-Folder-Open;     
    color: #4a4a4a;
  }
}
.icn-Food {
  &:before {
    content: $icn-Food;     
    color: #4a4a4a;
  }
}
.icn-Fuel {
  &:before {
    content: $icn-Fuel;     
    color: #4a4a4a;
  }
}
.icn-Grid {
  &:before {
    content: $icn-Grid;     
    color: #4a4a4a;
  }
}
.icn-Helmet {
  &:before {
    content: $icn-Helmet;     
    color: #4a4a4a;
  }
}
.icn-Histroy {
  &:before {
    content: $icn-Histroy;     
    color: #4a4a4a;
  }
}
.icn-Home {
  &:before {
    content: $icn-Home;     
    color: #4a4a4a;
  }
}
.icn-Image {
  &:before {
    content: $icn-Image;     
    color: #4a4a4a;
  }
}
.icn-Important {
  &:before {
    content: $icn-Important;     
    color: #4a4a4a;
  }
}
.icn-Important-Alt {
  &:before {
    content: $icn-Important-Alt;     
    color: #4a4a4a;
  }
}
.icn-Laptop {
  &:before {
    content: $icn-Laptop;     
    color: #4a4a4a;
  }
}
.icn-Linked {
  &:before {
    content: $icn-Linked;     
    color: #4a4a4a;
  }
}
.icn-List {
  &:before {
    content: $icn-List;     
    color: #4a4a4a;
  }
}
.icn-Lock {
  &:before {
    content: $icn-Lock;     
    color: #4a4a4a;
  }
}
.icn-Log-Out {
  &:before {
    content: $icn-Log-Out;     
    color: #4a4a4a;
  }
}
.icn-Map-Pin {
  &:before {
    content: $icn-Map-Pin;     
    color: #4a4a4a;
  }
}
.icn-Meal {
  &:before {
    content: $icn-Meal;     
    color: #4a4a4a;
  }
}
.icn-Menu-Burger {
  &:before {
    content: $icn-Menu-Burger;     
    color: #4a4a4a;
  }
}
.icn-Mic {
  &:before {
    content: $icn-Mic;     
    color: #4a4a4a;
  }
}
.icn-More-Horizontal {
  &:before {
    content: $icn-More-Horizontal;     
    color: #4a4a4a;
  }
}
.icn-More-Vertical {
  &:before {
    content: $icn-More-Vertical;     
    color: #4a4a4a;
  }
}
.icn-Multiply {
  &:before {
    content: $icn-Multiply;     
    color: #4a4a4a;
  }
}
.icn-No-Connection {
  &:before {
    content: $icn-No-Connection;     
    color: #4a4a4a;
  }
}
.icn-Notes {
  &:before {
    content: $icn-Notes;     
    color: #4a4a4a;
  }
}
.icn-Open {
  &:before {
    content: $icn-Open;     
    color: #4a4a4a;
  }
}
.icn-PDF {
  &:before {
    content: $icn-PDF;     
    color: #4a4a4a;
  }
}
.icn-Package {
  &:before {
    content: $icn-Package;     
    color: #4a4a4a;
  }
}
.icn-Package-Confirmed .path1 {
  &:before {
    content: $icn-Package-Confirmed-path1;  
    color: rgb(74, 74, 74);
  }
}
.icn-Package-Confirmed .path2 {
  &:before {
    content: $icn-Package-Confirmed-path2;  
    margin-left: -1em;  
    color: rgb(74, 74, 74);
  }
}
.icn-Package-Confirmed .path3 {
  &:before {
    content: $icn-Package-Confirmed-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icn-Parking {
  &:before {
    content: $icn-Parking;     
    color: #4a4a4a;
  }
}
.icn-Phone {
  &:before {
    content: $icn-Phone;     
    color: #4a4a4a;
  }
}
.icn-Phone-Mobile {
  &:before {
    content: $icn-Phone-Mobile;     
    color: #4a4a4a;
  }
}
.icn-Phone-Old {
  &:before {
    content: $icn-Phone-Old;     
    color: #4a4a4a;
  }
}
.icn-Photo-Camera {
  &:before {
    content: $icn-Photo-Camera;     
    color: #4a4a4a;
  }
}
.icn-Photo-Camera-Crossed {
  &:before {
    content: $icn-Photo-Camera-Crossed;     
    color: #4a4a4a;
  }
}
.icn-Photo-Switch {
  &:before {
    content: $icn-Photo-Switch;     
    color: #4a4a4a;
  }
}
.icn-Pinned {
  &:before {
    content: $icn-Pinned;     
    color: #4a4a4a;
  }
}
.icn-Plus {
  &:before {
    content: $icn-Plus;     
    color: #4a4a4a;
  }
}
.icn-Quantity {
  &:before {
    content: $icn-Quantity;     
    color: #4a4a4a;
  }
}
.icn-Refresh {
  &:before {
    content: $icn-Refresh;     
    color: #4a4a4a;
  }
}
.icn-Reject {
  &:before {
    content: $icn-Reject;     
    color: #4a4a4a;
  }
}
.icn-Search {
  &:before {
    content: $icn-Search;     
    color: #4a4a4a;
  }
}
.icn-Search-Check {
  &:before {
    content: $icn-Search-Check;     
    color: #4a4a4a;
  }
}
.icn-Search-Important {
  &:before {
    content: $icn-Search-Important;     
    color: #4a4a4a;
  }
}
.icn-Sell-House {
  &:before {
    content: $icn-Sell-House;     
    color: #4a4a4a;
  }
}
.icn-Sell-House-Pounds {
  &:before {
    content: $icn-Sell-House-Pounds;     
    color: #4a4a4a;
  }
}
.icn-Send {
  &:before {
    content: $icn-Send;     
    color: #4a4a4a;
  }
}
.icn-Server-Issue {
  &:before {
    content: $icn-Server-Issue;     
    color: #4a4a4a;
  }
}
.icn-Settings {
  &:before {
    content: $icn-Settings;     
    color: #4a4a4a;
  }
}
.icn-Shapes {
  &:before {
    content: $icn-Shapes;     
    color: #4a4a4a;
  }
}
.icn-Share {
  &:before {
    content: $icn-Share;     
    color: #4a4a4a;
  }
}
.icn-Shop {
  &:before {
    content: $icn-Shop;     
    color: #4a4a4a;
  }
}
.icn-Shopping-Cart {
  &:before {
    content: $icn-Shopping-Cart;     
    color: #4a4a4a;
  }
}
.icn-Shower {
  &:before {
    content: $icn-Shower;     
    color: #4a4a4a;
  }
}
.icn-Site {
  &:before {
    content: $icn-Site;     
    color: #4a4a4a;
  }
}
.icn-Site-Alt {
  &:before {
    content: $icn-Site-Alt;     
    color: #4a4a4a;
  }
}
.icn-Sort-Both {
  &:before {
    content: $icn-Sort-Both;     
    color: #4a4a4a;
  }
}
.icn-Sort-Down {
  &:before {
    content: $icn-Sort-Down;     
    color: #4a4a4a;
  }
}
.icn-Sort-Up {
  &:before {
    content: $icn-Sort-Up;     
    color: #4a4a4a;
  }
}
.icn-Spinner {
  &:before {
    content: $icn-Spinner;     
    color: #4a4a4a;
  }
}
.icn-Stopwatch {
  &:before {
    content: $icn-Stopwatch;     
    color: #4a4a4a;
  }
}
.icn-Sunrise {
  &:before {
    content: $icn-Sunrise;     
    color: #4a4a4a;
  }
}
.icn-Sunset {
  &:before {
    content: $icn-Sunset;     
    color: #4a4a4a;
  }
}
.icn-Tablet {
  &:before {
    content: $icn-Tablet;     
    color: #4a4a4a;
  }
}
.icn-Tasks {
  &:before {
    content: $icn-Tasks;     
    color: #4a4a4a;
  }
}
.icn-Template {
  &:before {
    content: $icn-Template;     
    color: #4a4a4a;
  }
}
.icn-Text {
  &:before {
    content: $icn-Text;     
    color: #4a4a4a;
  }
}
.icn-Timer {
  &:before {
    content: $icn-Timer;     
    color: #4a4a4a;
  }
}
.icn-Trades {
  &:before {
    content: $icn-Trades;     
    color: #4a4a4a;
  }
}
.icn-Travel-Home {
  &:before {
    content: $icn-Travel-Home;     
    color: #4a4a4a;
  }
}
.icn-Travel-Work {
  &:before {
    content: $icn-Travel-Work;     
    color: #4a4a4a;
  }
}
.icn-Undo {
  &:before {
    content: $icn-Undo;     
    color: #4a4a4a;
  }
}
.icn-Unlock {
  &:before {
    content: $icn-Unlock;     
    color: #4a4a4a;
  }
}
.icn-Wallet {
  &:before {
    content: $icn-Wallet;     
    color: #4a4a4a;
  }
}
.icn-Worker {
  &:before {
    content: $icn-Worker;     
    color: #4a4a4a;
  }
}
.icn-PDF1 {
  &:before {
    content: $icn-PDF1;     
    color: #4a4a4a;
  }
}
.icn-Print {
  &:before {
    content: $icn-Print;     
    color: #4a4a4a;
  }
}
.icn-Chart {
  &:before {
    content: $icn-Chart;     
    color: #4a4a4a;
  }
}
.icn-Database {
  &:before {
    content: $icn-Database;     
    color: #4a4a4a;
  }
}
.icn-Document {
  &:before {
    content: $icn-Document;     
    color: #4a4a4a;
  }
}
.icn-Online-Document {
  &:before {
    content: $icn-Online-Document;     
    color: #4a4a4a;
  }
}
.icn-Online-Spreadsheet {
  &:before {
    content: $icn-Online-Spreadsheet;     
    color: #4a4a4a;
  }
}
.icn-Process {
  &:before {
    content: $icn-Process;     
    color: #4a4a4a;
  }
}
.icn-Spreadsheet {
  &:before {
    content: $icn-Spreadsheet;     
    color: #4a4a4a;
  }
}
.icn-Text-Input {
  &:before {
    content: $icn-Text-Input;     
    color: #4a4a4a;
  }
}
.icn-Word {
  &:before {
    content: $icn-Word;     
    color: #4a4a4a;
  }
}
.icn-Wrench {
  &:before {
    content: $icn-Wrench;     
    color: #4a4a4a;
  }
}
.icn-Chart-Filled1 {
  &:before {
    content: $icn-Chart-Filled1;     
    color: #4a4a4a;
  }
}
.icn-Database-Filled {
  &:before {
    content: $icn-Database-Filled;     
    color: #4a4a4a;
  }
}
.icn-Document-Filled {
  &:before {
    content: $icn-Document-Filled;     
    color: #4a4a4a;
  }
}
.icn-Online-Document-Filled {
  &:before {
    content: $icn-Online-Document-Filled;     
    color: #4a4a4a;
  }
}
.icn-Online-Spreadsheet-Filled {
  &:before {
    content: $icn-Online-Spreadsheet-Filled;     
    color: #4a4a4a;
  }
}
.icn-PDF-alt-Filled {
  &:before {
    content: $icn-PDF-alt-Filled;     
    color: #4a4a4a;
  }
}
.icn-Print-Filled {
  &:before {
    content: $icn-Print-Filled;     
    color: #4a4a4a;
  }
}
.icn-Process-Filled {
  &:before {
    content: $icn-Process-Filled;     
    color: #4a4a4a;
  }
}
.icn-Spreadsheet-Filled {
  &:before {
    content: $icn-Spreadsheet-Filled;     
    color: #4a4a4a;
  }
}
.icn-Text-Input-Filled {
  &:before {
    content: $icn-Text-Input-Filled;     
    color: #4a4a4a;
  }
}
.icn-Word-Filled {
  &:before {
    content: $icn-Word-Filled;     
    color: #4a4a4a;
  }
}
.icn-Wrench-Filled {
  &:before {
    content: $icn-Wrench-Filled;     
    color: #4a4a4a;
  }
}
.icn-Pivot {
  &:before {
    content: $icn-Pivot;     
    color: #4a4a4a;
  }
}
.icn-Pivot-Filled {
  &:before {
    content: $icn-Pivot-Filled;     
    color: #4a4a4a;
  }
}
