// FONT SIZES 

.text-small {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
}

h5, .h5 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}


// FONT COLORS
.text-dark-gray { color: rgba(74, 74, 74, 0.8); }

// FONT WEIGHT
.text-bold { font-weight: bold!important; }